.clients-main {
	background-color: white;
	border-radius: 5px;
	margin-top: 8px;
	padding: 15px;
	overflow: scroll;
}

.clients-main .clients-heading {
	text-align: left;
	font-size: 17px;
	font-weight: 600;
	margin-top: 10px;
}

.clients-main .calendar-icon-div {
	/* padding: 5px; */
	background-color: rgb(206 206 206);
	/* padding: 2px; */
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 4px;
	padding-top: 4px;
	cursor: pointer;
}
