.add-room-modal .ant-modal-content {
	background-color: transparent !important;
	box-shadow: none !important;
	/* z-index: 10000000000000; */
}

.add-room-modal .ant-modal-close-x {
	display: none;
	margin-right: 25px;
	margin-top: 25px;
	font-size: 18px;
	color: black;
}

.add-room-modal .ant-modal-body {
	/* background-color: white; */
	display: flex;
	/* height: 100%; */
	justify-content: center;
	border-radius: 8px;
	/* width: 100%; */
}

@media screen and (min-width: 921px) {
	.add-room-modal .left-col-top-text {
		font-size: 54px;
		line-height: 65px;
	}
	.add-room-modal .left-col-mid-text {
		font-size: 17px;
	}
	.add-room-modal .left-col-bottom-text {
		font-size: 15px;
	}
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 920px) {
	.add-room-modal .left-col-top-text {
		font-size: 39px;
		line-height: 40px;
	}
	.add-room-modal .left-col-mid-text {
		font-size: 14px;
	}
	.add-room-modal .left-col-bottom-text {
		font-size: 12px;
	}
}

.add-room-modal .add-room-main {
	border-radius: 4px !important;
	background-color: white;
	padding: 25px;
	width: 100%;
	height: 80vh;
	overflow: scroll;
}

.ant-modal-centered .ant-modal {
	width: 100% !important;
	/* width: 100% !important; */
}

.add-room-modal .btn-save {
	height: 30px !important;
	width: 70px;
	font-weight: 500;
}

.add-room-modal .add-room-text {
	color: rgb(105 106 109);
	font-size: 16px;
	font-weight: 600;
}

.add-room-modal .add-room-content {
	margin-top: 15px;
}

.add-room-modal .seperator {
	height: 1px;
	background-color: rgb(223 220 220);
	margin-top: 5px;
}

.add-room-modal .input-heading {
	color: rgb(105 106 109);
	font-size: 13px;
	font-weight: 500;
}

.add-room-modal .add-room-input {
	border-radius: 4px;
	border-color: rgb(231 231 231);
}

.add-room-modal .add-room-input:hover {
	border-radius: 4px;
	border-color: rgb(231 231 231);
}

.add-room-modal .color-div {
	height: 30px;
	width: 30px;
	border-radius: 15px;
}
